<div class="master-wrapper">

<div class="sidebar">
  <div class= "title">
    Shadowland BBS
  </div>
  <p>{{comment}}</p>
  <p>--Ooze Petal(21:09:23 / 5-26-54)</p>
    <p>{{comment}}</p>
    <p>--Ooze Petal(21:09:23 / 5-26-54)</p>
      <p>{{comment}}</p>
      <p>--Ooze Petal(21:09:23 / 5-26-54)</p>
        <p>{{comment}}</p>
        <p>--Ooze Petal(21:09:23 / 5-26-54)</p>
</div>

<div class="wrapper">
  <div class="row">
    <app-news-stub [story]="storyOne"></app-news-stub>
    <app-news-stub [story]="storyOne"></app-news-stub>
    <app-news-stub [story]="storyOne"></app-news-stub>
  </div>
  <div class="row">
    <app-news-stub [story]="storyOne"></app-news-stub>
    <app-news-stub [story]="storyOne"></app-news-stub>
    <app-news-stub [story]="storyOne"></app-news-stub>
  </div>
</div>

</div>



<router-outlet></router-outlet>